<?xml version="1.0"?>
<launch>
  <!-- including the r200 launch file for getting 
  the video from r200 camera -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_default.launch" />
   <!-- including the aruco marker finder for 
   detecting single marker -->
   <include file="$(find marker_finder)/launch/aruco_marker_finder_r200.launch" />
   <!-- including the launch file for lucas kanade opticalflow -->
   <include file="$(find opencv_apps)/launch/lk_flow.launch">
        <arg name="image" default="/camera/color/image_raw" />
   </include>
   <!-- the custom node that reads the opticalflow data and publishes the mean velocity of x and y
        directions -->
   <node pkg="opt_flow" type="optflow_dataman" name="optflow_dataman" />
   <!-- launching the navigation node for autonomous guidance -->
   <node pkg="guid" type="nav_node" name="auto_guider" />
   <!-- launching the i2c_node for sending the auto commands to mid-ware board -->
   <node pkg="i2c_gate" type="i2c_node.py" name="i2c_bus" />

</launch>
